{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Add a new item</h1>

    {% for error in errors %}
        {% for err in error %}
        {{ err }}
        {% endfor %}
    {% endfor %}
    {{ form | raw }}

{% endblock %}
