{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <ul class="col-12 list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="/category/detail/{{ category.name }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
