{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row">
        <ul class="col-12 list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="/category/detail/{{ category.name }}">{{ category.name }}</a>
                    <img src="{{ constant('App\\Service\\CategoryImageUploader::PUBLIC_PATH')~"/"~category.image }}">
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
